body{
    text-align: center;

}
.btn{
    height: 200px;
    width: 200px;
    border-radius:20%;
    border: 10px solid black;
    margin: 2.5rem;
}
.btn-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.yellow{
    background-color: rgb(239, 239, 101);
}
.red{
    background-color: rgb(234, 95, 95);
}
.green{
    background-color: rgb(118, 238, 118);
}
.blue{
    background-color: rgb(118, 118, 232);
}
.flash{
    background-color: white;
}
.userFlash{
    background-color: rgb(56, 55, 55);
}